@model DetalhesFuncionarioViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4"><strong>Funcionário(a):</strong> @Model.Nome</label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
    <label class="fs-5"><strong>Login:</strong> @Model.Login</label>
</div>